@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
body{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'DM Serif Display', serif;
}
.container {
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 30px;
    width: 450px;
    height: 450px;
}

input[type="number"], input[type="text"] {
    text-align: center;
    width: 62px;
    height: 30px;
    border-radius: 7px;
    border-style: solid;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    border-style: none;
}

button:hover {
    color: white;
    background-color: purple;
}

.salida {
    width: 100%;
    text-align: center;
    font-size: larger;
    color: blue;
}

select {
    width: 180px;
    text-align: center;
    padding: 6px;
    height: 30px;
    border-radius: 30px;
    border-style: unset;
}
